<html>
    <head>
        <title>Niinan Django Girls blogi</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Niinan Django Girls Blogi</a></h1>
        </div>

        <div>
            <p>published: 22.04.2018, 12:14</p>
            <h2><a href="">Minun ensimmäinen postaukseni</a></h2>
            <p>Tähän tulee tekstiä :)</p>
        </div>

        <div>
            <p>published: 23.04.2018, 12:14</p>
            <h2><a href="">Minun toinen postaukseni</a></h2>
            <p>Tähän tulee sitten vähän eri tekstiä :)</p>
        </div>
    </body>
</html>
