<html>
    <head>
        <title>Niinan Django Girls blogi</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Niinan Django Girls Blogi</a></h1>
            <div>
        <h1><a href="/">Django Girls Blog</a></h1>
    </div>

    {% for post in posts %}
        {{ post }}
        <div>
            <p>published: {{ post.published_date }}</p>
            <h1><a href="">{{ post.title }}</a></h1>
            <p>{{ post.text|linebreaksbr }}</p>
        </div>
    {% endfor %}
        </div>

        <div>
            <p>published: 23.04.2018, 12:14</p>
            <h2><a href="">Minun toinen postaukseni</a></h2>
            <p>Tähän tulee sitten vähän eri tekstiä :)</p>
        </div>
    </body>
</html>
